* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: 'Lora', serif;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.45; }

.container {
  *zoom: 1;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
  padding: 103px 0;
  padding: 10.25rem 0; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media screen and (max-width: 768px) {
    .container {
      padding: 50px 0;
      padding: 5rem 0;
      max-width: 80%; } }
  @media screen and (max-width: 480px) {
    .container {
      padding: 15px 0;
      padding: 1.5rem 0;
      max-width: 85%; } }

p {
  color: #36312a;
  margin-bottom: 0; }

p + p {
  text-indent: 1.5em;
  margin-top: 0; }

a {
  color: #3f8abf;
  text-decoration: none;
  border-bottom: 2px solid #3f8abf; }
  a:hover {
    color: #3675a2;
    border: none; }

h1 {
  font-family: 'Open Sans', sans-serif; }

header h1 {
  font-size: 1.3em;
  font-weight: 400; }

article h1 {
  font-size: 1.125em;
  font-weight: 400;
  margin-top: 70px;
  margin-top: 7rem; }

footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em; }

.edit-link {
  margin-top: 150px;
  margin-top: 15rem; }

.bottom-nav {
  padding-top: 3px;
  padding-top: 0.33rem;
  margin-top: 45px;
  margin-top: 4.5rem;
  border-top: 2px solid #5e5e5e; }

.nav-inner {
  position: fixed; }
  .nav-inner:hover {
    background-color: #f6feff;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s; }

.nav-outer a {
  margin: auto;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-size: 2rem; }
  .nav-outer a:hover {
    color: #444;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    transition: color 0.5s; }

.toc .nav-inner {
  left: 0;
  width: 190px;
  width: 19rem;
  top: 0;
  height: 190px;
  height: 19rem; }
  .toc .nav-inner div {
    margin-top: 70px;
    margin-top: 7rem; }

.up .nav-inner {
  left: 190px;
  left: 19rem;
  right: 0;
  top: 0;
  height: 72px;
  height: 7.2rem; }

.prev .nav-inner {
  left: 0;
  top: 190px;
  top: 19rem;
  bottom: 220px;
  bottom: 22rem;
  width: 100px;
  width: 10rem; }
  .prev .nav-inner div {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-top: 25rem; }

.next .nav-inner {
  right: 0;
  top: 190px;
  top: 19rem;
  bottom: 220px;
  bottom: 22rem;
  width: 100px;
  width: 10rem; }
  .next .nav-inner div {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 25rem; }

.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }
