* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

html {
  font-size: 10px; }

body {
  font-family: 'Lora', serif;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.45; }

.container {
  *zoom: 1;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 85px;
  padding-top: 8.5rem; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media screen and (max-width: 768px) {
    .container {
      padding-top: 50px;
      padding-top: 5rem;
      max-width: 80%; } }
  @media screen and (max-width: 480px) {
    .container {
      padding-top: 15px;
      padding-top: 1.5rem;
      max-width: 85%; } }

p {
  color: #36312a;
  margin-bottom: 0; }

p + p {
  text-indent: 1.5em;
  margin-top: 0; }

a {
  color: #3f8abf;
  text-decoration: none;
  border-bottom: 2px solid #3f8abf; }
  a:hover {
    border: none; }

h1, h2 {
  font-family: 'Open Sans', sans-serif; }

header {
  margin-bottom: 2em; }
  header h1 {
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 0.2em; }
  header h2 {
    font-size: 0.9em;
    font-weight: 400;
    margin-top: 0; }

article h1, h2, h3, h4, h5 {
  font-size: 1.125em;
  font-weight: 400;
  margin-top: 70px;
  margin-top: 7rem; }

.book-title h1 {
  font-size: 1.6em;
  font-weight: 700;
  margin-bottom: 0.3em;
  padding-top: 1em;
  border-top: 0.3em solid #a55241; }

.toc {
  list-style-type: none;
  padding: 1em 0; }
  .toc li {
    margin-top: 1.8em;
    font-size: 1.2em; }
    .toc li:first-child {
      margin-top: 0.5em; }
    .toc li ul li {
      font-size: 0.85em;
      margin: 0.4em 0;
      list-style-type: none; }
  .toc .current_page_item {
    display: none; }

.page_item a {
  border: none;
  color: #000; }
  .page_item a:hover {
    border-bottom: 2px solid #3f8abf; }

.bottom-nav {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75em;
  padding-top: 0.5em;
  margin-top: 2.5em;
  border-top: 2px solid #5e5e5e; }
  .bottom-nav a {
    border: none; }
    .bottom-nav a:hover {
      border-bottom: 2px solid #3f8abf; }

.toc-link {
  margin-top: 0.7em;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%; }
  .toc-link:last-child {
    margin-right: 0; }

.nav-inner {
  position: fixed; }

.toc .nav-inner {
  left: 0;
  right: 0;
  top: 0;
  height: 72px;
  height: 7.2rem; }

.prev .nav-inner {
  left: 0;
  top: 190px;
  top: 19rem;
  bottom: 220px;
  bottom: 22rem;
  width: 100px;
  width: 10rem; }
  .prev .nav-inner div {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-top: 25rem; }

.next .nav-inner {
  right: 0;
  top: 190px;
  top: 19rem;
  bottom: 220px;
  bottom: 22rem;
  width: 100px;
  width: 10rem; }
  .next .nav-inner div {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 25rem; }

.container {
  overflow: auto;
  padding-bottom: 38px; }
  @media screen and (max-width: 768px) {
    .container {
      padding-bottom: 23px; } }

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%; }

footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.65em;
  position: relative;
  height: 38px;
  margin-top: -38px;
  clear: both; }
  @media screen and (max-width: 768px) {
    footer {
      height: 23px;
      margin-top: -23px; } }

/*Opera Fix*/
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px; }

.copyright {
  margin: 0 0.5em 0 0.5em; }

.credit {
  margin: 0 0.5em 0.5em 0; }

.float-left, .copyright {
  float: left; }

.float-right, .credit {
  float: right; }

.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }
